<div id="question-container">
  <h1><%= @question.name %></h1>
  <div class="question-content">
    <%= @question.content %>
  </div>
  <div id="question-image">
    <img src="<%="/users/#{@question.user_id}/#{@question.filename}"%>" style="width: 1000px;">
  </div>
  <div id="comment-area">
    <h2>回答</h2>
    <% @comments.each do |comment| %>
      <div class="comment">
        <h4>
          <%= comment.username %>
        </h4>
        <div>
          <%= comment.comment %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="comment">
    <% if user_signed_in? %>
      <h4>コメントを投稿する</h3>
      <%= form_with url:"/questions/upload/#{@question.id}" do |f| %>
        <%= f.text_area "comment", placeholder: "コメント"%>
        <%= f.submit "投稿" %>
      <% end %>
    <% else %>
      <%= link_to 'ログインする', new_user_session_path %>
    <% end %>
  </div>
</div>