<div id="question-container">
  <h1><%= @question.name %></h1>
  <div class="question-content">
    <%= @question.content %>
  </div>
  <%= content_tag :div ,'', id: "canvas-konva",
    data: { file: @question.filename, user: @question.user_id } 
  %>
  <%= javascript_pack_tag "canvas_konva" %>
  <%= stylesheet_pack_tag 'canvas_konva' %>
</div>