<main>
  <div class="container">
    <div class="form-header">
      イラスト投稿編集
    </div>
    <div class="form-body" id="app">
      <%= form_with url:"/illust/update/#{@illust.id}" do |f| %>
        <section>
          <div class="illust-field">
            <div id="illust_preview">
              <%= f.file_field "illust" ,accept: 'image/jpg,image/ipeg,image/png,image/gif', "v-on:change": "uploadFile", "ref": "preview" %>
              <div v-if="url">
                <img :src="url" style="width: 600px; height: auto;">
              </div>
              <div v-else>
                <img src="<%="/users/#{@illust.user_id}/#{@illust.filename}"%>" style="width: 600px; height: auto;">
              </div>
            </div>
          </div>
          <div class="field">
            <%= f.text_field "title", placeholder: "タイトル", value: @illust.name %>
          </div>
          <div class="field">
            <%= f.text_area "caption", placeholder: "説明", value: @illust.content %>
          </div>
          <div class="action">
            <%= f.submit "投稿" %>
          </div>
        </section>
      <% end %>
    </div>
  </div>
  <%= javascript_pack_tag "illust_preview" %>
  <%= stylesheet_pack_tag 'illust_preview' %>
</main>