<main>
  <div class="container">
    <div class="form-header">
      イラスト投稿
    </div>
    <div class="form-body">
      <%= form_with url:"upload" do |f| %>
        <section>
          <div class="illust-field">
            <div id="illust_preview">
              <label for="illust">
                <span>ファイルを選択</span>
                <%= f.file_field "illust" ,accept: 'image/jpg,image/ipeg,image/png,image/gif', "v-on:change": "uploadFile", "ref": "preview", class: "illust_form"%>
              </label>
              <div v-if="url">
                <img :src="url" class="preview_image">
              </div>
            </div>
          </div>
          <div class="field">
            <%= f.text_field "title", placeholder: "タイトル" %>
          </div>
          <div class="field">
            <%= f.text_area "caption", placeholder: "説明" %>
          </div>
          <div class="action">
            <%= f.submit "投稿" %>
          </div>
          <div id="canvas-konva">
            <Illust-Edit></Illust-Edit>
          </div>
        </section>
      <% end %>
    </div>
  </div>
  <%= javascript_pack_tag "illust_preview" %>
  <%= stylesheet_pack_tag 'illust_preview' %>
  <%= javascript_pack_tag "canvas_konva" %>
  <%= stylesheet_pack_tag 'canvas_konva' %>
</main>